
.btn-primary-1{
    padding-left: 2.5rem; padding-right: 2.5rem;
}
.bg-ecorecycle {
    background-color: #024E50;
}

.radius {
    max-width: 60%;
    border-radius: 50%;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
    height: 85%;
}
}